<mat-toolbar>To do list:</mat-toolbar>
<mat-card class="todocard">
  <mat-list role="list">
    <mat-toolbar
      *ngFor="let item of todoList | async"
      class="todoitem"
      color="primary"
    >
      <mat-toolbar-row>
        <span
          [ngClass]="{ 'done-true': item.isDone, 'done-false': !item.isDone }"
          >{{ item.content }}</span
        >
        <span class="example-spacer"></span>
        <span *ngIf="item.priority.value === '0'">High</span>
        <span *ngIf="item.priority.value === '1'">Medium</span>
        <span *ngIf="item.priority.value === '2'">Low</span>
        <span class="example-spacer"></span>
        <mat-icon
          (click)="markItemAsDone(item)"
          class="btn"
          *ngIf="!item.isDone"
        >
          check</mat-icon
        >
        <mat-icon
          (click)="markItemAsNotDone(item)"
          class="btn"
          *ngIf="item.isDone"
        >
          undo</mat-icon
        >

        <mat-icon (click)="editItem(item)" class="btn"> edit</mat-icon>
        <mat-icon (click)="deleteItem(item.id)" class="btn">delete</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-list>
  <button mat-fab color="secondary" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</mat-card>
